@model WebApplication2.Models.HomeModel

@{
    ViewBag.Title = "Index";
    string Name = "someguy";
}


<h2>Index</h2>
<p>Derek's new homepage</p>

<div>
    @Html.ActionLink("Student Form", "Student", "Student", null, null)
</div>
<div>
    @Html.ActionLink("Teacher Form", "Teacher", "Teacher", null, null)
</div>
<div>
    @Html.ActionLink("Dynamic list", "Dynamic", "Dynamic", null, null)
</div>

<h2>Static List</h2>
<div>
    <ul>
        <li>Someone</li>
        <li>Anyone</li>
        <li>Everyone</li>
        <li>No one</li>
    </ul>
</div>
<br/><br/>


<h2>Various input types</h2>
<div>
    <ul>
        <li>@ViewBag.Title</li>
        <li>@Name</li>
        <li>@ViewBag.Player</li>
    </ul>
</div>
<br/><br/>
